/* Crystal ship medium */

$dark-copy: #132B24;
$link-color: #AA1E00;
$link-color-hover: #C86700;

/*
 * Mixins
 */

@mixin mq-mobile  { @media (max-width: 450px) { @content; } }
@mixin mq-tablet  { @media (min-width: 451px) and (max-width: 650px) { @content; } }
@mixin mq-desktop { @media (min-width: 651px) { @content; } } 

.visual-hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Typography
 */ 

body {
  font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
  color: $dark-copy;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  background: #edecea url('../images/bgpaper.png');
}

h1, h2 {
  letter-spacing: -0.02em;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 20px 20px 40px ;  
  @include mq-tablet { font-size: 35px }
  @include mq-desktop { font-size: 40px }
}


a {
  color: $link-color;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

a:hover {
  color: $link-color-hover;
}

p {
  margin: 0 0 1em;
}


/*
 * Layout
 */

header, footer, article {
  max-width: 800px;
  margin: 0 auto;
  clear: both;
}

article.fullwidth {
  clear: both;
  max-width: 100%;
}



header {
  background: white;
  box-shadow: 0 1px 2px #ddd;
  border-radius: 0 0 2px 2px;
  overflow: hidden;
  margin-bottom: 20px;
}

h1 {
  float: left;
  font-weight: 900;  
  margin: 0;
  a {
    color: $dark-copy;
    padding: 20px;
    display: inline-block;
    font-size: 18px;
    line-height: 1em;
    @include mq-tablet { font-size: 15px; padding: 15px }
    @include mq-desktop { font-size: 20px; padding: 20px }
    
  }
  span {
    position: absolute;
    display: block;
    text-indent: -9999px;
  }
}

nav a {
  opacity: 0.3;
  float: right;
  padding: 20px;
  display: inline-block;
  font-size: 18px;
  color: $dark-copy;
  line-height: 1em;
  @include mq-tablet { font-size: 15px; padding: 15px }
  @include mq-desktop { font-size: 20px; padding: 20px }
  &:hover {
    opacity: 1;
  }
}

img {
  min-width: 100%;
  max-width: 100%;
}

/*
 * Post teaser
 */

.post-teaser {
  overflow: hidden;
  margin-bottom: 40px;
  @include mq-tablet { margin-bottom: 20px; }
  @include mq-mobile { margin-bottom: 20px; }  
  .post-teaser__image {
    float: left;
    width: 50%;
    @include mq-tablet { width: 55% }
    @include mq-mobile { width: 100% }
  }
  .post-teaser__description {
    float: right;
    width: calc(50% - 20px);
    @include mq-tablet { width: calc(45% - 20px) }
    @include mq-mobile { width: 100% }
    h2 {
      margin-top: 0;
      font-weight: normal;
      font-size: 32px;
      @include mq-tablet { font-size: 28px }
      @include mq-mobile { font-size: 24px }
    }
  }
}

.btn {
  background: white;
  border-radius: 2px;
  border: 1px solid #DDD;
  box-shadow: 0 1px 0 #F7DCD6;
  padding: 5px 10px;
  color: $dark-copy;
  transition: all 0.2s ease-out;
  &:hover {
    box-shadow: 0 1px 0 $link-color-hover;
    border: 1px solid #CCC;
  }
}


/*
 * Footer
 */

footer {
  background: white;
  margin-top: 20px;
  padding: 20px 20px 1px;
  box-shadow: 0 -1px 2px #ddd;
  border-radius: 2px 2px 0 0;
  box-sizing: border-box;
}