<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=1" name="viewport" />
  </head>
  <body>

    <div class="wrapper">
      <header>
        <h1><a href="/"><span>Northern Quarter Typography</span> <img src="/images/northern-quarter-typography-logo.png" alt="Northern Quarter Typography logo"></a></h1>
      </header>

      <article>
        {{ content }}
      </article>

      <footer>
        <p>This is a personal project of <a href="http://3oheme.com" title="3oheme personal portfolio home page">Ignacio Palomo Duarte</a></p>
      </footer>
    </div>  

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Mrs+Sheppards' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">

  </body>
</html>
