---
layout: default
---

<article>
	<h2>{{ page.title }}</h2>
	<section class="post-teaser">
	  	<div class="post-teaser__image">
	 		<img src="/images/{{ page.image }}_medium.jpg" alt="{{ page.title}} typography awesomeness">
	 	</div>	
	  	<div class="post-teaser__description">
	  		{{ content }}
	  		<p>{{ page.date | date_to_string }}</p>
	  		<p><a class="btn" href="/images/{{ page.image }}.jpg" title="Download the full resolution image to your computer">Download high resolution</a></p>
	    </div>	
	</section>
</article>